/*
COLORS



*/
:root {
  --primary-color: #eb2f64 ;
  --primary-color-light: #FF3366 ;
  --primary-color-dark: #BA265D ;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --shadow-dark:  0 2rem 6rem rgba(0,0,0,.3);
  --line: 1px solid var(--grey-light-2) ; }

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans' , sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(to right bottom, var(--primary-color-light), var(--primary-color-dark));
  min-height: 100vh;
  color: var(--grey-dark-2); }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-1);
  box-shadow: var(--shadow-dark); }
  @media (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%; } }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }
  @media (max-width: 28.125em) {
    .header {
      height: 11.5rem;
      flex-wrap: wrap;
      justify-content: space-around; } }

.content {
  display: flex; }
  @media (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.detail {
  font-size: 1.4rem;
  padding: 4.5rem;
  display: flex;
  background-color: var(--grey-light-1);
  border-bottom: var(--line); }
  @media (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }
  @media (max-width: 37.5em) {
    .detail {
      flex-direction: column; } }

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem; }
  @media (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem; } }
  @media (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem; } }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 28.125em) {
    .search {
      flex: 0 0 90%;
      order: 1; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: width .2s , background-color   .2s;
    margin-right: -3.25rem; }
    .search__input::placeholder {
      font-weight: 100;
      color: var(--grey-light-4); }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3); }
  .search__input:focus + .search__button {
    background-color: var(--grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--grey-light-2); }
    .search__button:focus {
      outline: none; }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    transition: background-color .2s;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--grey-light-3); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2); }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  margin-top: 3.5rem;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--primary-color);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--grey-light-1);
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative; }
    @media (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  font-size: 1.2rem;
  color: var(--grey-light-4);
  text-align: center;
  padding: 2.5rem; }
  @media (max-width: 56.25em) {
    .legal {
      display: none; } }

.gallery {
  display: flex; }
  .gallery__photo {
    display: block;
    width: 100%; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  @media (max-width: 28.125em) {
    .overview {
      justify-content: space-around;
      flex-wrap: wrap; } }
  .overview__heading {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1.5rem 3rem;
    letter-spacing: 1px; }
    @media (max-width: 37.5em) {
      .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem; } }
    @media (max-width: 28.125em) {
      .overview__heading {
        flex: 0 0 100%;
        font-size: 2.25rem;
        text-align: center; } }
  .overview__stars {
    margin-right: auto;
    display: flex; }
    @media (max-width: 28.125em) {
      .overview__stars {
        margin-right: 0; } }
  .overview__icon-star, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--primary-color); }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
  .overview__rating {
    background-color: var(--primary-color);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (max-width: 37.5em) {
      .overview__rating {
        padding: 0 1.5rem; } }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300; }
    @media (max-width: 37.5em) {
      .overview__rating-average {
        font-size: 1.8rem; } }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .overview__rating-count {
        font-size: .6rem; } }

.btn-inline {
  display: inline-block;
  font-size: inherit;
  background-color: transparent;
  color: var(--primary-color);
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: color .2s; }
  .btn-inline > span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate .8s infinite; }

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1); }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    box-shadow: none;
    transform: scale(1); } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  margin: 3rem 0;
  padding: 3rem 0;
  border-bottom: var(--line);
  border-top: var(--line);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      background-color: var(--primary-color);
      -webkit-mask-image: url("../img/chevron-thin-right.svg");
      mask-image: url("../img/chevron-thin-right.svg");
      -webkit-mask-size: cover;
      mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: var(--grey-dark-3);
  display: flex;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__friends {
    display: flex; }
  .recommend__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }
    @media (max-width: 28.125em) {
      .recommend__photo {
        width: 3rem;
        height: 3rem; } }

.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .review {
      padding: 2rem;
      margin-bottom: 3rem; } }
  .review__text {
    margin-bottom: 2rem;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__user-photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user--date {
    font-size: 1rem;
    color: var(--grey-dark-3); }
  .review__rating {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--primary-color); }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -3rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    font-family: sans-serif;
    color: var(--grey-light-2); }

.cta {
  padding: 3.5rem 0;
  text-align: center; }
  .cta__book {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }
    @media (max-width: 28.125em) {
      .cta__book {
        font-size: 1.5rem;
        font-weight: 400; } }
  @media (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  color: #fff;
  background-image: linear-gradient(to right, var(--primary-color-light), var(--primary-color-dark));
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem;
    transition: all .2s; }
  .btn__invisible {
    padding: 2rem 0;
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--primary-color-light), var(--primary-color-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none;
    animation: pulsate .8   s infinite; }
