@mixin  clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin bordertop {
        border-top: 1px solid $dark-grey;
        padding-top: 2rem;
        width: fit-content;
}
