@mixin  clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin bordertop {
        border-top: 1px solid $dark-grey;
        padding-top: 2rem;
        width: fit-content;
}
@mixin center-x-y {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

// Responsive manager
/*

- phone
- tab-small
- tab-large
- desktop-large

1em = 16px
*/

@mixin respond($devise) {
    @if $devise == phone {
        @media only scrren and (max-width : 37.5em){@content} ;
    }
    @if $devise == tab-small {
        @media only scrren and (max-width : 56.25em){@content} ;
    }
    @if $devise == tab-large {
        @media only scrren and (max-width : 75em){@content} ;
    }
    @if $devise == desktop-large {
        @media only scrren and (min-width : 112.5em){@content} ;
    }
}
