
// Colors
    $light-green: #7ed56f;
    $meduim-green: #55c57a;
    $dark-green: #28b485;
    $dark-grey : #777 ;
    $light-grey-1 : #f7f7f7; 
    $white : #fff ; 

    // Fonts 
    $main-font-size : 1.6rem;
// Grid
$grid-width : 114rem ; 
$row-gap : 8rem ; 
$col-gap : 6rem ; 