body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $dark-grey;
    padding: 3rem;
    @include respond(tab-small){
      padding: 0;
    }
  }
.primary-heading {
    color: $white;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-in-out;
      -webkit-animation: moveInLeft 1s ease-in-out;
      @include respond(phone){
        font-size: 5rem;
        letter-spacing: 1rem;
      }
    }
    &--sub {
      display: block;
      font-size: 2rem;
      letter-spacing: 1.75rem;
      font-weight: 700;
      animation: moveInRight 1s ease-in-out;
      -webkit-animation: moveInRight 1s ease-in-out;
      @include respond(phone){
        letter-spacing: .5rem;
      }
  } 

  }
  .secondary-heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .2rem;
    background-image: linear-gradient(to right , $light-green,$dark-green);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    @include respond(tab-small){
      font-size: 3em;
    }
    @include respond(phone){
      font-size: 2.5rem;
    }

    &:hover{
      transform: skewY(2deg) skewX(15deg)  scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0,0,0,.2);
}
}
.tertiary-heading{
  font-size: $main-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $main-font-size;
  &:not(:last-child){
    margin-bottom: 2rem;
  }
}