.u-center-text{
    text-align: center;
}
.u-margin-btm-small{
   margin-bottom: 1.5rem;
}
.u-margin-btm-meduim{
   margin-bottom: 4rem;
}
.u-margin-btm-big{
   margin-bottom: 8rem;
}
.u-margin-top-big{
   margin-top: 8rem;
}
.u-margin-top-huge{
   margin-top: 10rem;
}