/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
:root {
  --light-green: #7ed56f;
  --meduim-green: #55c57a;
  --dark-green: #28b485;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  /* font-size: 10px; to deal easily with rem */
  font-size: 62.5%; /* the same as 10px */ 
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}
.primary-heading {
  color: #fff;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
margin-bottom: 6rem;
}
 .primary-heading--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-in-out;
    -webkit-animation: moveInLeft 1s ease-out;
}
.primary-heading--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    font-weight: 700;
    animation: moveInRight 1s ease-in-out;
    -webkit-animation: moveInRight 1s ease-in-out;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-2rem);
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
}
    80%{
        transform: translateX(1rem);
        -webkit-transform: translateX(1rem);
        -moz-transform: translateX(1rem);
        -ms-transform: translateX(1rem);
        -o-transform: translateX(1rem);
}
    100%{
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(2rem);
        -webkit-transform: translateX(2rem);
        -moz-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
        -o-transform: translateX(2rem);
}
    80%{
        transform: translateX(-1rem);
        -webkit-transform: translateX(-1rem);
        -moz-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
        -o-transform: translateX(-1rem);
}
    100%{
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}
.btn:link,
.btn:visited{
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    position: relative;
}
.btn--white{
    background-color: #fff;
    color: #777;
}
.btn:hover{
    transform: translateY(-.3rem);
    -webkit-transform: translateY(-.3rem);
    -moz-transform: translateY(-.3rem);
    -ms-transform: translateY(-.3rem);
    -o-transform: translateY(-.3rem);
    box-shadow: 0 10px 20px rgb(0,0,0,.2);
}
  .btn:active{
    transform: translateY(-.1rem);
    -webkit-transform: translateY(-.1rem);
    -moz-transform: translateY(-.1rem);
    -ms-transform: translateY(-.1rem);
    -o-transform: translateY(-.1rem);
    box-shadow: 0 5px 10px rgb(0,0,0,.2);
}
.btn::after{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}
.btn--white::after{
  background-color: #fff;
}
.btn:hover::after{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  opacity: 0;
}
.btn--animated{
  animation: moveInBottom .5s .75s ease-out backwards;
  -webkit-animation:  moveInBottom .5s .75s ease-out backwards;
}
@keyframes moveInBottom{
  0%{
    opacity: 0;
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem);
}

  100%{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}