.footer{
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $light-grey-1;
    @include respond(tab-small){
        padding: 8rem 0;
    }
    &__logo-box{
        text-align: center;
    }
    &__logo{
        width: 15rem;
        height: auto;
    }
    &__navigation{
        @include bordertop ; 
        @include respond(tab-small){
            width: 100%;
            text-align: center;
        }
    }
    &__item{
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,
        &:visited{
            color: inherit;
            background-color: #333;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
            -o-transition: all .2s;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
        }
        &:hover,
        &:active{
            color: $meduim-green;
            box-shadow: 0 1rem 2rem rgba(0,0,0,.6);
            transform:  scale(1.25) rotate(5deg);
    }
    }
    &__copyright{
        @include bordertop ; 
        width: 80%;
        float: right;
        @include respond(tab-small){
            width: 100%;
            float: none;
        }
    }

}