.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $row-gap;
        @include respond(tab-small){
            margin-bottom: $row-gap-small;
        }
    }
    @include respond(tab-small){
        max-width: 50rem;
        padding:  0 2rem ;
    }

    @include clearfix;
    [class^="col-"]{
        float: left;
        &:not(:last-child){
            margin-right: $col-gap;
            @include respond(tab-small){
                margin-right: 0 ;
                margin-bottom: $row-gap-small;
            }
        }
        @include respond(tab-small){
            width: 100% !important;
        }
       
    }
    .col-1-of-2{   
      width: calc((100% - #{$col-gap}) / 2);
    }
    .col-1-of-3{   
      width: calc((100% - #{$col-gap} *2 ) / 3);
    }
    .col-1-of-4{   
      width: calc((100% - #{$col-gap} *3 ) / 4);
    } 
    .col-2-of-3{
        width: calc( ((100% - #{$col-gap} *2 ) / 3)* 2 + #{$col-gap});
    }
    .col-2-of-4{
        width: calc( ((100% - #{$col-gap} *3) / 4)* 2 + #{$col-gap});
    }
    .col-3-of-4{
        width: calc(((100% - #{$col-gap} *3 ) / 4) * 3 + 2 *#{$col-gap}) ;
    }
}